.player {
	font-size: 24px;
	margin-top: 2ex;
	margin-bottom: 2ex;
}
.name-container {
	background-color: #078df6;
	color: #e7eff6;
	border-radius: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	margin-left: 10%;
	width: 50%;
	float: left;
}
select {
	font-size: inherit;
	float: left;
	margin-left: 5%;
}
input.level {
	font-size: inherit;
	float: right;
	margin-right: 10%;
	width: 3em;
}
.uninitialized {
	color: #034578;
}
.name {
	width: 90%;
	text-align: center;
	float: left;
}
.clear {
	width: 10%;
	text-align: center;
	float: right;
}
.tie {
	float: left;
	margin-left: 10%;
	background-color: #078df6;
	color: #e7eff6;
	border-radius: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	font-size: 24px;
	width: 50%;
	text-align: center;
}
#tie {
	width: 90%;
}
.sync {
	float: right;
	margin-right: 10%;
	white-space: nowrap;
	font-size: small;
	background-color: #078df6;
	color: #e7eff6;
	border-radius: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-left: 1em;
	padding-right: 1em;
}
.clear img { vertical-align: middle; }
.webdev-is-fun { clear: both; }
#name-list div {
	background-color: #078df6;
	color: #e7eff6;
	border-radius: 2ex;
	font-size: 24px;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 1ex;
	padding-bottom: 1ex;
	margin-top: 1ex;
	margin-bottom: 1ex;
	text-align: center;
}
#new-player {
	background-color: #078df6;
	color: #e7eff6;
	border-radius: 2ex;
	font-size: 24px;
	margin-top: 10ex;
	margin-left: 25%;
	margin-right: 25%;
}
#new-player input {
	font-size: inherit;
	float: right;
	margin: 1ex;
}
#new-player .name {
	width: 60%;
	float: left;
}
.hidden { display: none; }
.disabled { visibility: hidden; }
.error {
	background-color: #a40000;
	color: #d6aaaa;
	border-radius: 2ex;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	text-align: center;
}
