body {
	background: #879190 url(bg.jpg) center top no-repeat;
	font-size: 24px;
}
#templates { display: none; }
.team {
	margin-top: 2ex;
	margin-bottom: 2ex;
}
.player {
	margin-top: 2ex;
	margin-bottom: 2ex;
}
.player-list {
	margin-left: 10%;
	width: 50%;
	float: left;
}
.name-container {
	border-radius: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	margin-top: 0.5ex;
	margin-bottom: 0.5ex;
	width: 100%;
}
input.level {
	font-size: inherit;
	float: right;
	margin-right: 10%;
	width: 3em;
}
.blue .name-container {
	background-color: #078df6;
	color: #e7eff6;
}
.blue .uninitialized {
	color: #034578;
}
.orange .name-container {
	background-color: #f69707;
	color: #f6f0e7;
}
.orange .uninitialized {
	color: #7a4b03;
}
.neutral {
	background-color: #eeeeee;
	color: #333333;
}
.neutral .player-name {
	background-color: #eeeeee;
	color: #333333;
}
.neutral .uninitialized {
	color: #aaaaaa;
}
.name {
	width: 90%;
	text-align: center;
	float: left;
}
.clear {
	width: 10%;
	text-align: center;
	float: right;
}
.tie {
	float: left;
	margin-left: 10%;
	border-radius: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	width: 50%;
	text-align: center;
}
#tie {
	width: 90%;
}
.sync {
	float: right;
	margin-right: 10%;
	white-space: nowrap;
	font-size: small;
	border-radius: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-left: 1em;
	padding-right: 1em;
}
.clear img { vertical-align: middle; }
.webdev-is-fun { clear: both; }
.player-queuer {
	margin-top: 1ex;
	margin-bottom: 1ex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.player-name {
	width: 50%;
	border-radius: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	margin-left: 1em;
	margin-right: 1em;
	text-align: center;
}
.queue-control {
	width: 2em;
	border-radius: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	text-align: center;
	font-weight: bold;
}
.queue-control.blue {
	background-color: #078df6;
	color: #e7eff6;
}
.queue-control.orange {
	background-color: #f69707;
	color: #f6f0e7;
}
#new-player-queuer {
	margin-top: 10ex;
}
#new-player {
	border-radius: 2ex;
	width: 50%;
	padding-top: 0;
	padding-bottom: 0;
}
#new-player input {
	font-size: inherit;
	float: right;
	margin: 1ex;
}
#new-player .name {
	width: 60%;
	float: left;
}
#new-player form { display: inline; }
#name-list {
	background-color: transparent;
}
.hidden { display: none; }
.disabled { visibility: hidden; }
.error {
	background-color: #a40000;
	color: #d6aaaa;
	border-radius: 2ex;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	text-align: center;
}
